body {
    background-image: url("../Image_Files/page08pic.jpg");
    background-size: 300px 300px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

p {
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: larger;
}